#contTitoloHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 150px;
    margin: 25px;
    border: solid 2px black;
    border-radius: 30px;
    background-color: #edf6f9;
}

#mainContHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#avvGioco{
    height: 75px;
    width: 250px;
    background-color: #edf6f9;
    border-radius: 30px;
    margin-top: 125px;
}

#imgSemeHome{
    margin-top: 25px;
    border: solid 3px black;
    border-radius: 15px;
    padding: 5px;
}